/* header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff; /* assuming a white background */
    box-shadow: 0 2px 4px rgba(255, 252, 252, 0.1); /* a subtle shadow for depth */
    border-radius: 20px;

  }
  
  .logo {
    height: 60px; /* Adjust the size of your logo image */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem; /* space between navigation links */
  }
  
  .nav-links li {
    padding: 0.5rem 0;
    
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333; /* dark text color for the links */
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #009688; /* color change on hover, assuming a teal color to match the buttons in the image */
  }
  